{% extends "base.html" %} {% block body %} {% load static %}

<div class="form-control">
  <form action="capture_data" method="POST" name="start">
    {%csrf_token%} {{form.non_field_errors}}
    <div>
      {{form.subject.errors}}
      <label for="storage_loc">SCAN OR TYPE THE STORAGE LOCATION</label
      ><br /><br />
      {{form.storage_loc}}
    </div>
    <div>
      <input type="hidden" name="link" value="part_control" />
    </div>
    <br />
    {% for message in messages %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <div><button type="submit">ENTER</button></div>
  </form>
</div>

<div class="home">
  <a href="{% url 'index_view' %}">Home</a>
</div>

<script src="{% static 'js/jquery-3.6.0-min.js' %}"></script>
<script type="text/javascript">
  $(function () {
    $("input#id_storage_loc").focus();
  });
</script>

{% endblock %}
