{% extends 'base.html' %} {% block body %} {% load static %}
<div class="table-control">
  <table>
    <tr>
      <th>ORDER DATE</th>
      <th>RECEIVED</th>
      <th>INVOICE</th>
      <th>PART NUMBER</th>
      <th>QUANTITY</th>
      <th>UNIT COST</th>
      <th>TAX</th>
      <th>SHIPPING</th>
      <th>TOTAL</th>
    </tr>
    <tr>
      {% for Order in object_list %}
      <td>{{Order.order_date}}</td>
      <td>{{Order.receive_date}}</td>
      <td>{{Order.invoice}}</td>
      <td>{{Order.part}}</td>
      <td>{{Order.quantity}}</td>
      <td>{{Order.cost}}</td>
      <td>{{Order.tax}}</td>
      <td>{{Order.shipping}}</td>
      <td>{{Order.total}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="home">
  <a href="{% url 'index_view' %}">Home</a>
  <a href="{% url 'new_order' %}"><button>NEW PURCHASE ORDER</button></a>
</div>

{% endblock %}
